header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .wrap {
    position: relative;
    max-width: 1450px;
    margin: 0 auto;
    height: 100%;

    .logo {
      width: 13rem;
      position: absolute;
      left: 10px;
      top: 50%;

      transform: translateY(-50%);

      img {
        width: 100%;
      }
    }

    .show-menu-button {
      position: absolute;
      padding: 1rem;
      left: 10px;
      top: 50%;

      transform: translateY(-50%);
    }

    .show-menu-button {
      display: none;

      button {
        background-color: white;
        border: none;
        padding: 20px;
        margin: 0;
      }
    }
  }
}

@media (min-width: 2400px) {
  header {
    .wrap {
      max-width: 2600px;
    }
  }
}

@media (max-width: 780px) {
  header {
    .wrap {
      .logo {
        display: none;
      }

      .show-menu-button {
        display: block;
      }

      .desktop-nav {
        nav {
          display: none;
        }

        .call-to-actions {
          &-cart {
            display: none;
          }
        }
      }
    }
  }
}
