.button {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  line-height: 1;
  text-transform: uppercase;

  color: white;
  background-color: black;
  padding: 1rem 0;
  margin: 0;

  border: none;
}
